.top-image {
	height: 60vh;
    position: relative;
	display: block;
}

.top-image:before {
	content: '';
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: url(/img/sergey-pesterev-JV78PVf3gGI-unsplash.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
	opacity: 0.7;

}
.center-allign {
	text-align: center;
	margin-top: 50px;
}

